.container{
    margin:100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
}
button{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color:#fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}
body{
    background-color: rgba(95, 158, 160, 0.591);
    font-size: 18px;
}